$rgb-off-black: #222;

$rgb-vtt-btn-toggle-active-border: #3b1893;
$rgb-vtt-btn-toggle-active-shadow: #9b8dff;

.polmap__ {
	&wrp-palette {
		position: absolute;
		left: 105px;
		width: 90px;
		text-align: center;
	}

	&btn-color {
		width: 18px;
		height: 18px;
		border: 1px solid $rgb-off-black;
		border-radius: 3px;
		background: transparent;
		margin: 2px;
	}

	&ipt-color {
		width: 30px;
		height: 30px;
		margin-right: 7px;
	}

	&btn-erase {
		width: 30px;
		height: 30px;
		background: #0008;
		color: var(--color-text-light-heading);
		border: 1px solid var(--color-border-dark);

		&:hover {
			color: var(--color-text-light-highlight);
			border-color: var(--color-border-highlight-alt);
			border-bottom-color: var(--color-border-highlight);
			box-shadow: 0 0 10px var(--color-shadow-highlight);
		}

		&--active {
			background: #3c007880;
			box-shadow: 0 0 10px $rgb-vtt-btn-toggle-active-shadow;
			border: 1px solid $rgb-vtt-btn-toggle-active-border;

			&:hover {
				border-color: $rgb-vtt-btn-toggle-active-border;
				box-shadow: 0 0 10px $rgb-vtt-btn-toggle-active-shadow;
			}

			&:focus {
				box-shadow: 0 0 10px $rgb-vtt-btn-toggle-active-shadow;
			}
		}
	}

	&wrp-btns-other {
		margin-top: 5px;
	}

	&flex-wrap {
		display: flex;
		flex-wrap: wrap;
	}

	&flex-vh-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&flex-col {
		display: flex;
		flex-direction: column;
	}
}
